name: Release

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - file: images/python-3.14-trixie-slim.dockerfile
            name: python
            tag: 3.14-trixie-slim
          - file: images/python-3.13-trixie-slim.dockerfile
            name: python
            tag: 3.13-trixie-slim
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: push
        uses: docker/build-push-action@v6
        with:
          file: ${{ matrix.image.file }}
          push: true
          tags: ghcr.io/${{ github.actor }}/${{ matrix.image.name }}:${{ matrix.image.tag }}
          labels: org.opencontainers.image.source=https://github.com/${{ github.repository }}
