name: Release

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - file: images/python-3.14-trixie-slim.dockerfile
            name: python
            tag: 3.14-trixie-slim
          - file: images/python-3.14-trixie-slim-gdal.dockerfile
            name: python
            tag: 3.14-trixie-slim-gdal
          - file: images/python-3.13-trixie-slim.dockerfile
            name: python
            tag: 3.13-trixie-slim
          - file: images/python-3.13-trixie-slim-gdal.dockerfile
            name: python
            tag: 3.13-trixie-slim-gdal
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Docker Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
        with:
          file: ${{ matrix.image.file }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.actor }}/${{ matrix.image.name }}:${{ matrix.image.tag }}
          labels: org.opencontainers.image.source=https://github.com/${{ github.repository }}
