name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - file: images/python-3.14-trixie-slim.dockerfile
            name: python
            tag: 3.14-trixie-slim
          - file: images/python-3.14-trixie-slim-gdal.dockerfile
            name: python
            tag: 3.14-trixie-slim-gdal
          - file: images/python-3.13-trixie-slim.dockerfile
            name: python
            tag: 3.13-trixie-slim
          - file: images/python-3.13-trixie-slim-gdal.dockerfile
            name: python
            tag: 3.13-trixie-slim-gdal
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Docker Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130

      - name: Build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
        with:
          file: ${{ matrix.image.file }}
          platforms: linux/amd64
          load: true
          tags: ${{ matrix.image.name }}:${{ matrix.image.tag }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.34.1
        with:
          image-ref: ${{ matrix.image.name }}:${{ matrix.image.tag }}
          format: table
          exit-code: 1
          ignore-unfixed: true
          severity: CRITICAL,HIGH
